In [3]:
p=100
r=10
t=5
interest=p*r*t/100

In [4]:
interest

50.0

# Number System

Base 7:
    0 1 2 3 4 5 6 
    10 11 12 13 14 15 16

Base 15:
    0 1 2 3 4 5 6 7 8 9 A B C D E
    10 11 12 13 14 15 16 17 18 19 1A 1B 1C 1D 1E

Base 14:
    0 1 2 3 4 5 6 7 8 9 A B C D
    10 11 12 13 14 15 16 17 18 19 1A 1B 1C 1D

# Addition

12₇ + 13₇ = 25₇

   12₇
+ 13₇
------
   25₇

12₇ + 16₇ = 31₇

   12₇
+ 16₇
------
   31₇

8 - 7 = 1

Add Base 7:
1)
    13+1=14
    14+1=15
   
2)

    16+1=20
    
    1
    16
    +1
    __
    20
    
    6+1=10
    
3)  
    666+1=1000
    
    666
    + 1
    ___
    1000
    6+1=10

# Sub

13-1=12

10-1=6

10
-1
__
6

7-1=6

# Multiply

Single-Digit Multiplication Table in Base 7
In Base 7, valid digits are 0, 1, 2, 3, 4, 5, and 6. Multiplication follows the same rules as in Base 10, but results are written in Base 7.

×	1	2	3	4	5	6
1	1	2	3	4	5	6
2	2	4	6	11	13	15
3	3	6	12	16	21	24
4	4	11	16	22	26	33
5	5	13	21	26	34	42
6	6	15	24	33	42	51


×	10	11	12	13	14	15	16
10	100	110	120	130	140	150	160
11	110	121	132	143	154	165	176
12	120	132	144	156	200	212	224
13	130	143	156	202	215	231	244
14	140	154	200	215	232	246	303
15	150	165	212	231	246	303	321
16	160	176	224	244	303	321	340

Q1: Choose your base between 3 and 13

Q2: Add/Substraction single digit and multiple numbers in your number system

Q3: Prepare a table of single digit multiplications in your number system.

Q4: Multiply multiple digits in your number system

Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

Q6. Write a strategy to convert a number in your base to base 10 in plain english or psedo code or code

Q7. Write a strategy to convert a number in base N to base M in plain english or psedo code or code

In [ ]:
Q: In base 10, how many numbers can you represent in 5 digits?
_ _ _ _ _
0 to 99999
A: 10**5

In [ ]:
1 -> 00001
6 -> 00006

In [ ]:
Q: In base 7, how many numbers can you represent in 5 digits?

A: 7**5

In [ ]:
Q: In base B, how many numbers can you represent in d digits?

A: B**d
    
    To represent to but not including 10000 in base10, how many digits do you need?

In [ ]:
Q: To represent number up to 9999 in base10, how many digits do you need?

A: Four
Note: we are representing total 10000 numbers

In [ ]:
Q: To represent N numbers, how many digits do we need in base 10?

A: log10(N)

In [ ]:
Q: Compute log10 of 100
A: log10(100) = 2

In [ ]:
Q: Compute log10 of 100
A: log10(100) = 2

In [ ]:
math.log10(1000)

In [ ]:
math.log10(50)

In [ ]:
10**1.6999

In [ ]:
10**2.45

In [ ]:
10**2.6

In [ ]:
10**2.52

In [ ]:
10**2.53

In [ ]:
10**2.54

In [ ]:
10**2.539

In [ ]:
Q: Write your own algorithm or strategy to find log10. You can use 10**x.

# Q: To represent N numbers, how many digits do we need in base B?

# A: logB(N)